<!doctype html>
<html class="no-js" lang="">
<head>
<meta charset="utf-8">
<title>:: Obstacle Maniac ::</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> 
<script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body data-ng-app="ObstacleManiac"><!-- #BeginLibraryItem "/Library/header-after-login.lbi" -->
<!--Popup Start-->
<div id="maniacPointsModal" class="modal fade" data-modal="middle" role="dialog">
  <div class="modal-dialog modal-sm">
    <button type="button" class="close" data-dismiss="modal"></button>
    <div class="modal-content maniac-panel">
      <div class="modal-header">
        <h5 class="modal-title">MANIAC POINTS</h5>
        <a class="btn-link" data-toggle="modal" data-target="#earnPointsModal">How do I Earn Points ?</a>
      </div>
      <div class="modal-body form-body">
      	<span class="icon-position">16<sup>th</sup></span>
        <span class="badge-orange"><img id="maniacBadge" class="svg" src="img/badge.svg" alt=""/>4K</span>
        <p><span class="orange-text">4518</span> This Month</p>
        <p>Top Maniac Earned <span class="green-text">2000</span></p>
      </div>
      <div class="modal-footer">
        <div class="row">
      		<aside class="col-xs-6"><span class="orange-text">6225</span> Annual</aside>
        	<aside class="col-xs-6"><span class="orange-text">6478</span> Overall</aside>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="earnPointsModal">
  <div class="modal-dialog modal-lg">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
    <div class="modal-content modal-message">
      <div class="modal-header">
        <h5 class="modal-title">How do I Earn Points ?</h5>
      </div>
      <div class="modal-body">
        <p>“Win points to get and keep your OCR Profile Card on the Home Page in the Top 10 Maniacs and to win monthly and annual prizes!  Every time you create new content for the OM community (e.g., publish and/or share an article, start a discussion or post pictures or videos), you get Maniac points.  The more points you gain, the more likely you are to win a prize.  Prizes are awarded monthly, so get started contributing content and sharing today!</p>
        <p>Here’s a convenient list of the activities and points you earn by contributing to the OCR community on obstaclemaniac.com.”</p>
        <h5>Profile Set Up</h5>
        <ul class="ponts-disk">
          <li>Complete Profile - 100 points (must include photo to get points)</li>
          <li>Update your profile with a recent race - 10 points for each entry</li>
          <li>Following an athlete - 5 points/athlete</li>
          <li>Accepting a follower - 5 points/athlete</li>
        </ul>
        <h5>Articles</h5>
        <ul class="ponts-disk">
          <li>Authoring/Creating an article - 100 points</li>
          <li>Sharing your article with Facebook - 50 points</li>
          <li>Sharing your article with Twitter - 50 points</li>
          <li>Commenting on an article - 5 points (max of 10 points awarded/article)</li>
          <li>Sharing an article that someone else wrote on Facebook or Twitter 5 points each (max 20 points/article)</li>
          <li>Getting a “Like” or a “Favorite” on an article you wrote - 5 point/like</li>
        </ul>
        <h5>Chat</h5>
        <ul class="ponts-disk">
          <li>Authoring at Chat - 50 points</li>
          <li>Sharing your chat with Facebook - 25 points</li>
          <li>Sharing your chat with Twitter - 25 points</li>
          <li>Commenting on a chat - 5 points/comment (max of 15 points awarded/chat)</li>
          <li>Sharing a chat on Facebook or Twitter 5 points each (max 15 points/chat)</li>
        </ul>
      </div>
      <div class="modal-footer center-btns"><a class="btn-link" data-dismiss="modal">Back</a></div>
    </div>
  </div>
</div>
<!--Popup End-->

<header>
  <div data-role="sticky">
    <nav class="navbar navbar-inverse" data-toggle="inverseDropdown">
      <div class="container">
        <button type="button" class="navbar-toggle visible-xs"><i class="icon-userbar"></i></button>
        <ul class="nav navbar-nav navbar-user">
          <li class="visible-xs"> <a class="has-notif" href="notification.html"><i class="icon-notification"></i> <span>Notifications</span></a></li>
          <li class="dropdown hidden-xs"> <a class="dropdown-toggle has-notif" data-toggle="dropdown" role="button" aria-expanded="false"><i class="icon-notification"></i></a>
            <div class="dropdown-menu dropdown-menu-right dropdown-large" role="menu" data-dropdown="onhold">
              <div role="tabpanel">
                <ul class="nav nav-tabs nav-tabs-justified navbar-tabs" id="notificationTab">
                  <li class="active"><a data-toggle="tab" href="#notifications">NOTIFICATIONS</a></li>
                  <li><a data-toggle="tab" href="#message">MESSAGES</a></li>
                </ul>
                <div class="tab-content scrollbox">
                  <div id="notifications" class="tab-pane fade in active">
                    <ul class="media-list media-list-striped">
                      <li class="media">
                        <div class="media-left media-middle"> <a href="#"><img src="img/thumb36x36.jpg" class="img-rounded" width="36" height="36" alt=""/></a> </div>
                        <div class="media-body">
                          <div><a class="btn-link">Ryan Kent</a> <span class="light-gray">Followed</span> Joshua Z</div>
                          <span class="light-gray">3 hrs ago</span> </div>
                      </li>
                      <li class="media">
                        <div class="media-left media-middle"> <a href="#"><img src="img/thumb36x36.jpg" class="img-rounded" width="36" height="36" alt=""/></a> </div>
                        <div class="media-body">
                          <div><a class="btn-link">Ryan Kent</a> <span class="light-gray">Followed</span> Joshua Z</div>
                          <span class="light-gray">3 hrs ago</span> </div>
                      </li>
                      <li class="media">
                        <div class="media-left media-middle"> <a href="#"><img src="img/thumb36x36.jpg" class="img-rounded" width="36" height="36" alt=""/></a> </div>
                        <div class="media-body">
                          <div><a class="btn-link">Ryan Kent</a> <span class="light-gray">Followed</span> Joshua Z</div>
                          <span class="light-gray">3 hrs ago</span> </div>
                      </li>
                      <li class="media">
                        <div class="media-left media-middle"> <a href="#"><img src="img/thumb36x36.jpg" class="img-rounded" width="36" height="36" alt=""/></a> </div>
                        <div class="media-body">
                          <div><a class="btn-link">Ryan Kent</a> <span class="light-gray">Followed</span> Joshua Z</div>
                          <span class="light-gray">3 hrs ago</span> </div>
                      </li>
                      <li class="media">
                        <div class="media-left media-middle"> <a href="#"><img src="img/thumb36x36.jpg" class="img-rounded" width="36" height="36" alt=""/></a> </div>
                        <div class="media-body">
                          <div><a class="btn-link">Ryan Kent</a> <span class="light-gray">Followed</span> Joshua Z</div>
                          <span class="light-gray">3 hrs ago</span> </div>
                      </li>
                    </ul>
                  </div>
                  <div id="message" class="tab-pane fade">
                    <div class="nodata-panel">
                      <div class="nodata-body">
                        <i><img src="img/nodata-icon.png" width="140" height="140" alt=""/></i>
                        <h4>Missing information</h4>
                        <small class="font-basic font-normal">Fill up your <a class="btn-link">profile</a> and earn points let fellow maniacs know about you</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dropdown-footer"><a class="btn-link" href="notification.html">View All</a></div>
              </div>
            </div>
          </li>
          <li><a data-target="#maniacPointsModal" data-toggle="modal"><i class="icon-points"></i> <span class="visible-xs-inline">Points</span> <span class="points">1530</span></a></li>
          <li class="user-control"><a href="profile-about.html"><span class="user-pic"><img src="img/user.jpg" width="30" height="30" class="block hidden-xs" alt=""/></span> <span class="visible-xs-inline">Profile </span> <span class="user-name">Dinesh Kumar</span></a></li>
          <li><a href="settings.html"><i class="icon-setting"></i> <span class="visible-xs-inline">Settings</span></a></li>
          <li><a href="signup.html"><i class="icon-logout"></i> <span class="visible-xs-inline">Logout</span></a></li>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-default">
      <div class="container"> <a href="home.html" class="navbar-brand"><img src="img/logo.png" class="img-responsive" width="157" height="100" alt=""/></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <ul class="nav navbar-nav nav-right">
          <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="icon-menu"></i></a>
            <div class="dropdown-menu dropdown-menu-right dropdown-large" role="menu">
              <label class="dropdown-header">CATEGORIES</label>
              <div class="scrollbox">
                <ul class="thumb-action clearfix">
                  <li><a class="racereview"><span class="square"><i></i></span>
                    <span class="label-text">Race Review</span>
                    </a></li>
                  <li><a class="trining"><span class="square"><i></i></span>
                    <span class="label-text">Training</span>
                    </a></li>
                  <li><a class="obsreview"><span class="square"><i></i></span>
                    <span class="label-text">Obstacle Review</span>
                    </a></li>
                  <li><a class="proreview"><span class="square"><i></i></span>
                    <span class="label-text">Product Review</span>
                    </a></li>
                  <li><a class="inspiration"><span class="square"><i></i></span>
                    <span class="label-text">Inspiration</span>
                    </a></li>
                  <li><a class="fuiling"><span class="square"><i></i></span>
                    <span class="label-text">Fueling</span>
                    </a></li>
                </ul>
              </div>
              <div class="dropdown-footer"><a class="btn-link" href="obstacle-library.html">View All</a></div>
            </div>
          </li>
          <li><a data-toggle="globalSearch"><i class="icon-search"></i></a></li>
        </ul>
        <div class="collapse navbar-collapse" id="mainNav">
          <ul class="nav navbar-nav">
          	<li><a href="dashboard.html">POST ARTICLES</a></li>
          	<li><a href="obstacle-chat.html">OBSTACLE CHAT</a></li>
            <li><a class="scroll-link nextpage-scroll" data-rel="topOcrId">Top OCR Athletes</a></li>
            <li><a href="dashboard.html">MY DASHBOARD</a></li>
            <li><a href="how-it-works.html">How It Works</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="global-search">
      <div class="filter-action">
        <div class="container">
          <div class="dropdown no-overlay pull-left"> <a class="block" data-toggle="dropdown"><i class="icon-filter block"></i></a>
            <div data-dropdown="onhold" class="dropdown-menu">
              <div class="checkbox-group"> <span class="checkbox">
                <input type="checkbox" id="allId2">
                <label for="allId2">All</label>
                </span> <span class="checkbox">
                <input type="checkbox" id="articleId2">
                <label for="articleId2">Article</label>
                </span> <span class="checkbox">
                <input type="checkbox" id="chatId2">
                <label for="chatId2">Chat</label>
                </span> <span class="checkbox">
                <input type="checkbox" id="videosId2">
                <label for="videosId2">Videos</label>
                </span> <span class="checkbox">
                <input type="checkbox" id="photosId2">
                <label for="photosId2">Photos</label>
                </span> </div>
            </div>
          </div>
          <span class="separator"></span>
          <div class="input-group">
          	<a class="input-group-addon"><i class="icon-search"></i></a>
            <input type="text" placeholder="Quick Search" value="" class="form-control">
          </div>
        </div>
      </div>
      <div class="search-autosuggest scrollbox">
        <div class="container">
          <div class="row">
            <aside class="col-md-3 col-sm-6">
              <div class="heading">ARTICLES</div>
              <ul class="user-list">
                <li> <a class="media">
                  <div class="media-left">
                    <figure><img src="img/img1.jpg" alt=""/></figure>
                  </div>
                  <div class="media-body">
                    <div class="media-heading">Have u ever participated in the #BattleFrog?</div>
                  </div>
                  </a> </li>
                <li> <a class="media">
                  <div class="media-left">
                    <figure><img alt="" src="img/blank-category.png"></figure>
                  </div>
                  <div class="media-body">
                    <div class="media-heading">Have u ever participated in the #BattleFrog?</div>
                  </div>
                  </a> </li>
                <li> <a class="media">
                  <div class="media-left">
                    <figure><img alt="" src="img/default-category.jpg"></figure>
                  </div>
                  <div class="media-body">
                    <div class="media-heading">Have u ever participated in the #BattleFrog?</div>
                  </div>
                  </a> </li>
              </ul>
              <span class="more-link"><a class="btn-link">View all</a></span>
            </aside>
            <aside class="col-md-3 col-sm-6">
              <div class="heading">CHAT</div>
              <ul class="user-list">
                <li> <a class="media">
                  <div class="media-left">
                    <figure><img class="img-rounded" alt="" src="img/thumb60x60.jpg"></figure>
                  </div>
                  <div class="media-body">
                    <div class="media-heading">Have u ever participated in the #BattleFrog?</div>
                  </div>
                  </a> </li>
                <li> <a class="media">
                  <div class="media-left">
                    <figure><img class="img-rounded" alt="" src="img/thumb60x60.jpg"></figure>
                  </div>
                  <div class="media-body">
                    <div class="media-heading">Have u ever participated in the #BattleFrog?</div>
                  </div>
                  </a> </li>
                <li> <a class="media">
                  <div class="media-left">
                    <figure><img class="img-rounded" alt="" src="img/thumb60x60.jpg"></figure>
                  </div>
                  <div class="media-body">
                    <div class="media-heading">Have u ever participated in the #BattleFrog?</div>
                  </div>
                  </a> </li>
              </ul>
              <span class="more-link"><a class="btn-link">View all</a></span>
            </aside>
            <aside class="col-md-3 col-sm-6">
              <div class="heading">MEDIA</div>
              <ul class="user-list">
                <li> <a class="media">
                  <div class="media-left">
                    <figure><img src="img/img1.jpg" alt=""/></figure>
                  </div>
                  <div class="media-body">
                    <div class="media-heading">Have u ever participated in the #BattleFrog?</div>
                  </div>
                  </a> </li>
                <li> <a class="media">
                  <div class="media-left">
                    <figure><img alt="" src="img/blank-category.png"></figure>
                  </div>
                  <div class="media-body">
                    <div class="media-heading">Have u ever participated in the #BattleFrog?</div>
                  </div>
                  </a> </li>
                <li> <a class="media">
                  <div class="media-left">
                    <figure><img alt="" src="img/blank-category.png"></figure>
                  </div>
                  <div class="media-body">
                    <div class="media-heading">Have u ever participated in the #BattleFrog?</div>
                  </div>
                  </a> </li>
              </ul>
              <span class="more-link"><a class="btn-link">View all</a></span>
            </aside>
            <aside class="col-md-3 col-sm-6">
              <div class="heading font-med">MANIACS</div>
              <ul class="user-list">
                <li> <a class="media">
                  <div class="media-left">
                    <figure><img class="img-rounded" alt="" src="img/thumb60x60.jpg"></figure>
                  </div>
                  <div class="media-body">
                    <div class="media-heading">Jeff Shady</div>
                    <small class="font-bold font-xs">OCR ATHLETE</small> </div>
                  </a> </li>
                <li> <a class="media">
                  <div class="media-left">
                    <figure><img class="img-rounded" alt="" src="img/thumb60x60.jpg"></figure>
                  </div>
                  <div class="media-body">
                    <div class="media-heading">Jeff Shady</div>
                    <small class="font-bold font-xs">OCR ATHLETE</small> </div>
                  </a> </li>
                <li> <a class="media">
                  <div class="media-left">
                    <figure><img class="img-rounded" alt="" src="img/thumb60x60.jpg"></figure>
                  </div>
                  <div class="media-body">
                    <div class="media-heading">Jeff Shady</div>
                    <small class="font-bold font-xs">OCR ATHLETE</small> </div>
                  </a> </li>
              </ul>
              <span class="more-link"><a class="btn-link">View all</a></span>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- #EndLibraryItem --><section class="bgcolor-primary" data-height="fullheight">
  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-push-9 hidden-xs hidden-sm">
          <div class="thumbnail google-thumbnail"><a href="advertise.html"><img width="277" height="244" alt="" src="img/google-ad-277x244.jpg"></a></div>
        </div>
        <div class="col-md-9 col-md-pull-3">
          <div class="bgcolor-default viewmode-page">
            <div class="viewmode-header viewmode-image">
              <figure><img src="img/default-category.jpg" class="img-responsive" width="300" height="167" alt=""/></figure>
              <article><div class="media">
                <div class="media-left"><img width="36" height="36" alt="" class="img-rounded" src="img/thumb36x36.jpg"></div>
                <div class="media-body media-middle">
                  <ul class="separate-list clearfix">
                    <li class="font-xs font-bold">JEFF SHADY</li>
                    <li><span class="star-count">1023</span> <span class="badge-yellow"><img class="svg" src="img/badge.svg" alt=""/>4K</span></li>
                    <li>
                      <div class="dropdown no-overlay follow-unfollow"> <a data-toggle="dropdown" class="square unfollow"><i></i></a>
                        <div class="dropdown-menu dropdown-menu-right"><a><span class="square follow"><i></i></span> <span class="text">Unfollow</span></a></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <h4>Congratulations to the Top 3 Elite Men and Women Finishers.</h4>
              <p class="date">APR 17, 2015</p>
              <p class="font-sm"><a class="btn-link">#Reebok</a>, <a class="btn-link">#Addidas</a>, <a class="btn-link">#Nike</a></p>
              <div class="rating-wrap"><small>Author Rated</small> Nike Shoes <span class="start-rating" data-score="3.0" data-ng-raty="ratyOptions" data-ng-model="rating.current" data-mouse-over="demo.mouseOver(stars, e);" data-mouse-out="demo.mouseOut(stars, e);"></span></div>
              <div class="edit-delete"><a data-target="#editModal" data-toggle="modal" class="icon-edit2"></a> <a data-target="#deleteMsgModal" data-toggle="modal" class="icon-delete"></a></div></article>
            </div>
            <div class="social-action clearfix">
              <div class="pull-left"> <span class="msg-count">200</span> <span class="like-count">245</span> </div>
              <ul class="separate-list pull-right">
                <li><a class="icon-flag active"></a></li>
                <li><a class="icon-fb"></a> <a class="icon-ttr"></a></li>
              </ul>
            </div>
            <div class="view-content maxwidth-img">
              <p>Lorem Ipsum has been the industry’s standard dummy text @jeff Shady won this race. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries”but also the leap into electronic typesetting” remaining essentially unchanged.</p>
              <img src="img/img2.jpg" width="270" height="150" class="pull-left" alt=""/>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and</p>
              <p>scrambled iremaining essentially unchanged.  Lorem Ipsum is simply dummy text of the <strong>printing and typesetting industry</strong>. Lorem Ipsum is simply.</p>
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/K_VKpLDWL6g?rel=0&amp;showinfo=0" data-frameborder="0" allowfullscreen></iframe>
              </div>
              <p class="slider-caption font-basic">Caption</p>
              <p class="font-light">@jeff Shady won this race. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
              <ul class="grid-list row mar-top-20">
                <li class="col-sm-4">
                  <div class="thumbnail height-auto">
                    <figure class="img-caption" data-placeholder="Some caption for photo Some caption for photo"><a data-target="#articleViewModal" data-toggle="modal"><img src="img/img1.jpg" width="270" height="150" alt=""></a></figure>
                  </div>
                </li>
                <li class="col-sm-4">
                  <div class="thumbnail height-auto">
                    <figure class="img-caption" data-placeholder="Some caption for photo Some caption for photo"><img src="img/img2.jpg" width="270" height="150" alt=""></figure>
                  </div>
                </li>
                <li class="col-sm-4">
                  <div class="thumbnail height-auto">
                    <figure class="img-caption" data-placeholder="Some caption for photo Some caption for photo"><img src="img/img1.jpg" width="270" height="150" alt=""></figure>
                  </div>
                </li>
                <li class="col-sm-4">
                  <div class="thumbnail height-auto">
                    <figure class="img-caption" data-placeholder="Some caption for photo Some caption for photo"><img src="img/img2.jpg" width="270" height="150" alt=""></figure>
                  </div>
                </li>
                <li class="col-sm-4">
                  <div class="thumbnail height-auto">
                    <figure class="img-caption" data-placeholder="Some caption for photo Some caption for photo"><img src="img/img1.jpg" width="270" height="150" alt=""></figure>
                  </div>
                </li>
                <li class="col-sm-4">
                  <div class="thumbnail height-auto">
                    <figure class="img-caption" data-placeholder="Some caption for photo Some caption for photo"><img src="img/img2.jpg" width="270" height="150" alt=""></figure>
                  </div>
                </li>
              </ul>
            </div>
            <div class="social-action top-shadow clearfix">
              <div class="pull-left"> <span class="msg-count"><label>Be the first to comment</label></span> <span class="like-count">245</span> </div>
              <ul class="separate-list pull-right">
                <li><a class="icon-flag"></a></li>
                <li><a class="icon-fb"></a> <a class="icon-ttr"></a></li>
              </ul>
            </div>
            <div class="bgcolor-secondary view-content" data-comment="post">
              <div class="media">
                <div class="media-left"><img width="44" height="44" alt="" class="img-rounded" src="img/thumb36x36.jpg"></div>
                <div class="media-body">
                  <input type="text" class="form-control" value="" placeholder="Write comment">
                </div>
              </div>
              <div class="right-btns post-btn"><a class="btn btn-primary">POST</a></div>
            </div>
            <div class="view-content">
              <ul class="user-list">
                <li class="media">
                  <div class="media-left"> <a href="#"><img width="44" height="44" alt="" class="img-rounded" src="img/thumb60x60.jpg"></a> </div>
                  <div class="media-body"> <span class="pull-right duration">Less than a minute ago</span>
                    <div class="media-heading"><a class="btn-link">Corinna Coffin</a></div>
                    Fantastic group working in very remote and sometimes dangerous areas to save endangered animals and protect wilderness. <a class="icon-delete"></a></div>
                </li>
                <li class="media">
                  <div class="media-left"> <a href="#"><img width="44" height="44" alt="" class="img-rounded" src="img/thumb60x60.jpg"></a> </div>
                  <div class="media-body"> <span class="pull-right duration">3h</span>
                    <div class="media-heading"><a class="btn-link">Corinna Coffin</a></div>
                    Fantastic group working in very remote and sometimes dangerous areas to save endangered animals and protect wilderness. </div>
                </li>
                <li class="media">
                  <div class="media-left"> <a href="#"><img width="44" height="44" alt="" class="img-rounded" src="img/thumb60x60.jpg"></a> </div>
                  <div class="media-body"> <span class="pull-right duration">4 June</span>
                    <div class="media-heading"><a class="btn-link">Corinna Coffin</a></div>
                    Fantastic group working in very remote and sometimes dangerous areas to save endangered animals and protect wilderness. </div>
                </li>
                <li class="media">
                  <div class="media-left"> <a href="#"><img width="44" height="44" alt="" class="img-rounded" src="img/thumb60x60.jpg"></a> </div>
                  <div class="media-body"> <span class="pull-right duration">3 June</span>
                    <div class="media-heading"><a class="btn-link">Corinna Coffin</a></div>
                    Fantastic group working in very remote and sometimes dangerous areas to save endangered animals and protect wilderness. <a class="icon-delete"></a></div>
                </li>
              </ul>
              <div class="text-center mar-top-20"><a class="btn-link font-sm-med">Load More</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- #BeginLibraryItem "/Library/footer.lbi" -->
<footer class="text-center">
  <div class="container">
    <ul class="social-icons">
      <li><a href="404.html"><i class="icon-twitter"></i></a></li>
      <li><a href="404.html"><i class="icon-facebook"></i></a></li>
    </ul>
    <ul class="nav nav-pills">
      <li><a href="about.html">About us</a></li>
      <li><a href="privacy.html">Privacy</a></li>
      <li><a href="help-and-support.html">Help &amp; Support</a></li>
      <li><a href="contact.html">Contact us</a></li>
      <li><a href="advertise.html">Advertise with us</a></li>
    </ul>
  </div>
  <div class="copyright">&copy; 2015  Obstacle Maniac! All right reserved</div>
</footer>
<a class="backto-top"><i class="icon-top"></i></a><!-- #EndLibraryItem --><!--View Popup-->
<div id="articleViewModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <button type="button" class="close" data-dismiss="modal"></button>
    <div class="modal-content viewmode-page">
      <div class="modal-header viewmode-header">
        <div class="row text-left">
          <div class="col-md-10 col-md-offset-1">
            <div class="media">
              <div class="media-left"><img width="36" height="36" alt="" class="img-rounded" src="img/thumb36x36.jpg"></div>
              <div class="media-body media-middle">
                <ul class="separate-list clearfix">
                  <li class="font-xs font-bold">JEFF SHADY</li>
                  <li><span class="star-count">1023</span> <span class="badge-yellow"><img class="svg" src="img/badge.svg" alt=""/>4K</span></li>
                  <li>
                    <div class="dropdown no-overlay follow-unfollow"> <a data-toggle="dropdown" class="square unfollow"><i></i></a>
                      <div class="dropdown-menu dropdown-menu-right"><a><span class="square follow"><i></i></span> <span class="text">Unfollow</span></a></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <h4>Chat title goes here</h4>
            <p class="date">APR 17, 2015</p>
            <span class="font-sm"><a class="btn-link">#Reebok</a>, <a class="btn-link">#Addidas</a>, <a class="btn-link">#Nike</a></span>
            <div class="edit-delete"><a class="icon-edit2"></a> <a class="icon-delete"></a></div>
          </div>
        </div>
      </div>
      <div class="modal-body tab-content padd-0">
        <div class="social-action">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="pull-left"> <span class="msg-count">200</span></div>
              <ul class="separate-list pull-right">
                <li><a class="icon-flag"></a></li>
                <li><a class="icon-fb"></a> <a class="icon-ttr"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="view-content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div id="photoCarousel" class="carousel slide photo-carousel mar-0" data-ride="carousel" data-count="slide">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <figure><img src="img/photo.jpg" width="591" height="376" alt=""/></figure>
                    <p class="slider-caption font-basic">Caption</p>
                  </div>
                  <div class="item">
                    <figure><img src="img/photo2.jpg" width="591" height="376" alt=""/></figure>
                    <p class="slider-caption font-basic">Caption</p>
                  </div>
                  <div class="item">
                    <figure><img src="img/photo.jpg" width="591" height="376" alt=""/></figure>
                    <p class="slider-caption font-basic">Caption</p>
                  </div>
                </div>
                <span class="slide-count"></span>
                <span class="carousel-control"> <a class="left" href="#photoCarousel" data-slide="prev"></a> <a class="right" href="#photoCarousel" data-slide="next"></a> </span> </div>
            </div>
          </div>
        </div>
        <div class="social-action top-shadow">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="pull-left"> <span class="msg-count">200</span></div>
              <ul class="separate-list pull-right">
                <li><a class="icon-flag"></a></li>
                <li><a class="icon-fb"></a> <a class="icon-ttr"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row bgcolor-primary view-content" data-comment="post">
          <div class="col-md-10 col-md-offset-1">
            <div class="media">
              <div class="media-left"><img width="44" height="44" alt="" class="img-rounded" src="img/thumb60x60.jpg"></div>
              <div class="media-body">
                <input type="text" class="form-control" value="" placeholder="Write comment">
              </div>
            </div>
            <div class="right-btns post-btn"><a class="btn btn-primary">POST NOW</a></div>
          </div>
        </div>
        <div class="row view-content">
          <div class="col-md-10 col-md-offset-1">
            <ul class="user-list">
              <li class="media">
                <div class="media-left"> <a href="#"><img width="44" height="44" alt="" class="img-rounded" src="img/thumb60x60.jpg"></a> </div>
                <div class="media-body"> <span class="pull-right duration">Less than a minute ago</span>
                  <div class="media-heading"><a class="btn-link">Corinna Coffin</a></div>
                  Fantastic group working in very remote and sometimes dangerous areas to save endangered animals and protect wilderness. <a class="icon-delete"></a> </div>
              </li>
              <li class="media">
                <div class="media-left"> <a href="#"><img width="44" height="44" alt="" class="img-rounded" src="img/thumb60x60.jpg"></a> </div>
                <div class="media-body"> <span class="pull-right duration">3h</span>
                  <div class="media-heading"><a class="btn-link">Corinna Coffin</a></div>
                  Fantastic group working in very remote and sometimes dangerous areas to save endangered animals and protect wilderness. </div>
              </li>
              <li class="media">
                <div class="media-left"> <a href="#"><img width="44" height="44" alt="" class="img-rounded" src="img/thumb60x60.jpg"></a> </div>
                <div class="media-body"> <span class="pull-right duration">4 June</span>
                  <div class="media-heading"><a class="btn-link">Corinna Coffin</a></div>
                  Fantastic group working in very remote and sometimes dangerous areas to save endangered animals and protect wilderness. </div>
              </li>
              <li class="media">
                <div class="media-left"> <a href="#"><img width="44" height="44" alt="" class="img-rounded" src="img/thumb60x60.jpg"></a> </div>
                <div class="media-body"> <span class="pull-right duration">3 June</span>
                  <div class="media-heading"><a class="btn-link">Corinna Coffin</a></div>
                  Fantastic group working in very remote and sometimes dangerous areas to save endangered animals and protect wilderness. </div>
              </li>
            </ul>
            <div class="text-center mar-top-20"><a class="btn-link font-sm-med">Load More</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <button type="button" class="close" data-dismiss="modal"></button>
    <div class="modal-content modal-edit">
      <div class="modal-header">
        <h5 class="modal-title">Edit Article</h5>
      </div>
      <div class="modal-body">
        <div id="editArticle">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <ul class="form-panel mar-top-20">
                <li class="row">
                  <div class="col-sm-6">
                    <div class="form-group"> <span class="pull-right help-block">{{50-title.length}}</span>
                      <div class="control-label">TITLE <span class="mandatory">*</span></div>
                      <input type="text" placeholder="" value="" class="form-control" maxlength="50" data-ng-trim="false" ng-model="title" id="focusId">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="control-label">CATEGORY <span class="mandatory">*</span></div>
                      <select class="form-control" data-chosen>
                        <option>Please select</option>
                        <option>CATEGORY</option>
                      </select>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="form-group"> <span class="pull-right help-block">30</span>
                    <div class="control-label">I’D LIKE TO RATE... <span class="mandatory">*</span></div>
                    <div class="input-group">
                      <input type="text" class="form-control" value="" placeholder="Race event or product you would like to rate. e.g. Nike Shoes">
                      <div class="input-group-addon addon-rating"><span class="start-rating" data-score="3.0" data-ng-raty="ratyOptions" data-ng-model="rating.current" data-mouse-over="demo.mouseOver(stars, e);" data-mouse-out="demo.mouseOut(stars, e);"></span></div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="form-group" data-ng-controller="SummernoteController">
                    <div class="control-label">ARTICLE</div>
                    <textarea data-summernote="" rows="10" data-placeholder="123">Start Writing... You can use the tools  above to format your text and add or embed images &amp; videos inline your article. If you embed any media hosted elsewhere, it’ll show only as long as it</textarea>
                  </div>
                </li>
                <li>
                  <div class="form-group">
                    <div class="control-label">SEARCH TAGS <small>Add upto 3</small></div>
                    <input type="text" class="form-control" value="" placeholder="e.g, Like what is this article about, Atticle title, Maniacs">
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row bgcolor-primary">
            <div class="col-md-10 col-md-offset-1">
              <ul class="form-panel mar-top-20">
                <li class="form-group">
                  <div class="control-label">UPLOAD MEDIA</div>
                  <div class="panel upload-panel">
                    <div class="media">
                      <div class="media-left media-middle"> <span class="upload-media"><i class="icon-upload"></i></span> </div>
                      <div class="media-body">
                        <h4 class="media-heading">Choose Photos</h4>
                        <small class="font-sm">Upload photos from, you can add multiple</small> </div>
                      <div class="media-right"> <span class="btn btn-primary file-upload">UPLOAD
                        <input type="file">
                        </span> </div>
                    </div>
                    <span class="or"></span>
                    <div class="media">
                      <div class="media-left media-bottom"> <span class="upload-media"><i class="icon-urlbig"></i></span> </div>
                      <div class="media-body"> <small class="block">URL or embed-code for Pics or video from youtube, vimeo, instagram</small>
                        <input type="text" placeholder="URLor embed-code for  image you would like to link" value="" class="form-control">
                      </div>
                      <div class="media-right media-bottom"> <a class="btn btn-info btn-block">Add</a> </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="form-group">
                    <ul class="attached-media">
                      <li class="active"> <a class="icon-smlremove"></a>
                        <figure><img src="img/img1.jpg" width="270" height="150" class="img-full" alt=""/></figure>
                        <span class="radio">
                        <input type="radio" id="coverpicId1" name="coverpic" checked>
                        <label for="coverpicId1">COVER PIC</label>
                        </span> </li>
                      <li> <a class="icon-smlremove"></a>
                        <figure><img src="img/img2.jpg" width="270" height="150" class="img-full" alt=""/></figure>
                        <span class="radio">
                        <input type="radio" id="coverpicId2" name="coverpic">
                        <label for="coverpicId2">COVER PIC</label>
                        </span> </li>
                      <li> <a class="icon-smlremove"></a> <span class="video-btn"><i class="icon-playsml"></i></span>
                        <figure><img src="img/img1.jpg" width="270" height="150" class="img-full" alt=""/></figure>
                        <span class="radio">
                        <input type="radio" id="coverpicId3" name="coverpic">
                        <label for="coverpicId3">COVER PIC</label>
                        </span> </li>
                      <li> <a class="icon-smlremove"></a>
                        <figure><img src="img/img2.jpg" width="270" height="150" class="img-full" alt=""/></figure>
                        <span class="radio">
                        <input type="radio" id="coverpicId4" name="coverpic">
                        <label for="coverpicId4">COVER PIC</label>
                        </span> </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="form-group">
                    <input type="text" placeholder="Put a caption for the selected one" value="" class="form-control">
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="right-btns mar-top-20"><a class="font-med" data-dismiss="modal">Cancel</a> <a class="btn btn-primary" data-dismiss="modal">PUBLISH</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="deleteMsgModal" class="modal fade" data-modal="middle" role="dialog">
  <div class="modal-dialog modal-sm">
    <button type="button" class="close" data-dismiss="modal"></button>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Article</h5>
      </div>
      <div class="modal-body form-body text-center">
        <p>Are you sure you want delete?</p>
        <div class="center-btns mar-top-20"> <a data-dismiss="modal" class="font-med">No</a> <a class="btn-link">Yes</a> </div>
      </div>
    </div>
  </div>
</div>
<div id="sharePageModal" class="modal fade" data-modal="middle" role="dialog">
  <div class="modal-dialog modal-sm">
    <button type="button" class="close" data-dismiss="modal"></button>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">SHARE IT NOW!</h5>
      </div>
      <div class="modal-body form-body text-center">
        <p>Share your article on Facebook or Twitter and get it noticed now.</p>
        <ul class="social-icons mar-top-20">
          <li><a href="404.html"><i class="icon-twitter"></i></a></li>
          <li><a href="404.html"><i class="icon-facebook"></i></a></li>
        </ul>
        <span class="font-sm">You may share it anytime later too</span> </div>
      <div class="modal-footer"> <a class="btn-link" data-dismiss="modal">Not Right Now</a> </div>
    </div>
  </div>
</div>
<script src="js/vendor/jquery-1.11.2.min.js"></script> 
<script src="js/vendor/angular.js"></script> 
<script src="js/vendor/bootstrap.min.js"></script> 
<script src="js/plugins.js"></script> 
<script src="js/chosen-min.js"></script> 
<script src="js/main.js"></script> 
<script src="js/Controllers.js"></script> 
<script>
	$('#photoCarousel').carousel({
		interval:false
	});
	carouselCounter();
	$('#sharePageModal').modal('show');
	
	$('#editModal').on('hide.bs.modal',function(){
		if($('body').find('.modal-backdrop').length<=2){
		  $('body').find('.modal-backdrop').not(':first').remove();
		}
	});
	$('#editModal').on('show.bs.modal',function(){
		$('.note-dialog>div').on('hide.bs.modal',function(){
		  setTimeout(function(){
			$('body').addClass('modal-open');
		  },0);
		});
		$('.note-dialog>div').modal('hide');
	});

</script>
</body>
</html>
